asgiref
charset-normalizer
crispy-bootstrap4
dj-database-url
Django
django-crispy-forms
django-filter
django-registration-redux
djangorestframework
gunicorn
Markdown
numpy
packaging
pandas
pillow
psycopg2-binary
python-dateutil
pytz
qrcode
reportlab
scikit-learn
scipy
sqlparse
whitenoise